
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
}

.start{
    margin: 1% 15% 5%;
}

.start a {
    float: right;
    padding: 1.2% 1.5%;
    color: grey;

}

.start li {
    display: inline;
}

.icona{
    width: 2.5%;
    margin: 1% 5%;
    float: left;
}

/* header done to customize*/

.desc{
    background-image: url('/img/first-background.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 30rem;
    overflow: auto;
}

.desc h1{
    margin-top: 12rem;
}

.desc h1,
.desc h3,
.desc .bott{
    text-align: center;
    color: white;
}

.desc button{
    background-color: #f15a29;
    border-style: none;
    padding: 0.5rem 1rem;

}

/* still have to find how to put text into image simply */

.other{
    text-align: center;
    overflow: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.lost{
    list-style: none;
}

.other .lost > li{
    float: right;
    width: 33%;
}

.opt{
    padding: 0% 2%;
}

/* now for the footer */

.endi{
    text-align: center;
}

.losti{
    list-style: none;
    margin-left: -40px;
}

 .losti > li{
    width: 5%;
    display: inline-block;
    text-align: center;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


